@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em 1em;
  }

  .bold {
    font-weight: 700;
    margin-left: 0.2em;
  }
  button {
    padding: 0.5em 1em;
    background-color: lightgray;
    border: 1px solid lightslategray;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
  }

  a.button {
    padding: 0.5em 1em;
    background-color: lightgray;
    border: 1px solid lightslategray;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1.5em;
  }

  .navbar {
    margin: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-navbar {
      display: flex;
      align-items: center;

      button {
        margin: 0 0.2em;
      }

      .menu-list {
        display: none;
        // display: "";
        position: absolute;
        top: 4em;
        z-index: 100;
        border: 1px solid lightgray;
        border-radius: 5px;
        a {
          padding: 1em 3em;
          display: block;
          text-align: center;
          text-decoration: none;
          color: inherit;
          font-weight: 700;
        }
      }
    }
  }

  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img {
      width: 130px;
      height: 130px;
      margin-top: 1.5em;
      border-radius: 50%;
      border: 3px solid lightblue;
      background: no-repeat center fixed;
    }
    p {
      margin: 0;
      font-size: 1.5em;
    }
    .name {
      font-size: 3em;
    }
  }

  .about-me {
    margin: 1em 1.5em;
    padding: 1.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid lightgray;

    p {
      line-height: 2;
    }
  }

  .works {
    margin: 1em 1.5em;
    padding: 1.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  .work {
    margin-top: 1em;
    padding: 2em;
    .headline {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
      }
      .image {
        object-fit: cover;
      }

      .text-headline {
        margin-left: 1em;
      }
    }
    .work-description {
      line-height: 2;
      border-bottom: 1px solid lightgrey;
    }
  }

  .contact-me {
    padding: 3em;
    background-color: whitesmoke;
    text-align: center;

    p {
      font-weight: 900;
    }
  }
}

@media (min-width: 1024px) {
  body {
    button {
      font-size: 1em;
    }

    .navbar {
      margin: 2em 3em;

      p {
        font-size: 1.5em;
      }
    }

    .home {
      p {
        font-size: 2em;
      }
      .name {
        font-size: 3.5em;
      }
      img {
        width: 200px;
        height: 200px;
      }
    }

    .about-me {
      margin: 2em 2.5em;
    }

    .works {
      margin: 2em 2.5em;
      .works-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      }
    }

    .contact-me {
      p {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    button {
      font-size: 1.5em;
    }

    .navbar {
      margin: 2em 3em;

      p {
        font-size: 2em;
      }

      .right-navbar {
        button {
          margin: 0 0 0 2em;
        }
        .menu-list {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          border: none;
          a {
            text-align: center;
            text-decoration: none;
            color: inherit;
            font-weight: 700;
            font-size: 1.5em;
          }
        }
        .button-bars {
          display: none;
        }
      }
    }

    .home {
      p {
        font-size: 2.5em;
      }
      .name {
        font-size: 4.5em;
      }
      img {
        width: 300px;
        height: 300px;
      }
    }

    .about-me {
      max-width: 1200px;
      margin: 3em auto;

      p {
        font-size: 1.5em;
      }
    }

    .works {
      max-width: 1200px;
      margin: 3em auto;
      .works-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      }
    }

    .work {
      margin-top: 2em;
      padding: 3em;
      .headline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 230px;
          height: 230px;
        }
        .image {
          object-fit: cover;
        }

        .text-headline {
          margin-left: 1em;
          p {
            font-size: 1.7em;
          }
        }
      }
      .work-description {
        font-size: 1.3em;
        line-height: 2;
        border-bottom: 1px solid lightgrey;
      }
    }

    .contact-me {
      padding: 8em;
      p {
        font-size: 1.5em;
      }
    }
  }
}
