@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  .bold {
    font-weight: 700;
  }
  button {
    padding: 0.5em 1em;
    background-color: lightgray;
    border: 1px solid lightslategray;
    border-radius: 10px;
    font-weight: 700;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  .right-navbar {
  }
}
